/* @import "./styles.css"; */

body {
	margin: 0px;
	padding: 0px;
	font-family: "Open Sans";
	background-color: lightblue;
}

main {
	width: 100%;
}

/* Header styles */
header {
	background: linear-gradient(slateblue, slategrey);
}

header h1 {
	font-size: 50px;
}

/* Style navigation bar */
.topnav {
	overflow: hidden;
	background-color: #333
}

/* Style nav links */
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change color on hover */

article {
	margin: 20px;
	background-color: ghostwhite;
	padding: 20px;
}

section {
	background-color: cornflowerblue;
}

footer {
	background-color: bisque;
	height: 40px;
	display: inline;
}

aside {
	float: right;
	width: 30%;
	margin: 0px;
	position: static;	
	background-color: green;
}

.carousel {
	width: 800px;
	height: 600px;
	margin: 45px auto;
}